@charset "UTF-8";
/*
1. 親要素の参照は「&」を必ずしも使わないで良い
*/
.class_01 + div {
  font-size: 1em;
}

.class_01 > .child {
  font-size: 2em;
}

/*
2. ルート要素の更に上の親要素を指定したい
*/
aside {
  width: 240px;
}

aside .menu {
  margin-bottom: 20px;
}

main.full aside .child {
  width: 960px;
}

/*
3. ルート要素を抜けたい
*/
.class_03 section {
  width: 640px;
}

.class_03_2 {
  width: 100px;
}

/*
4. プロパティのネスト
*/
.class_04 {
  border: 0;
  border-bottom: 1px solid #aaa;
}

p {
  font-size: 1px;
}

/*
5. ミックスイン
*/
.class_05 {
  border-radius: 10px;
  background-color: #ededed;
  bottom: 1px solid #666;
}

/*
6. ミックスイン 複数の引数
font(,16px) のようには書けない
*/
.class_06 {
  color: red;
  font-size: 16px;
}

/*
7. 可変長引数 受け取り側を可変にする（ES6に同じ）
*/
.class_07 {
  text-shadow: 8px 8px 0 #666, 10px -10px 0 #999;
}

/*
8. 可変長引数 呼び出し側で展開（ES6に同じ）
*/
.class_08 {
  width: 200px;
  padding: 40px;
  margin: 40px;
  color: #f00;
}

/*
9. @extend 継承
*/
.box_09, .class_09 {
  padding: 20px;
  border: 1px solid #000;
}

.class_09 {
  background-color: yellow;
}

.class_09_2 {
  padding: 20px;
  border: 1px solid #000;
}

.class_09_2 {
  background-color: yellow;
}

/*
10. @extend %●●● 多重継承
*/
.class_10 {
  font-size: 14px;
}

.class_10 {
  color: red;
}

/*
11.
*/
.box, .item {
  background-image: url(../img/bg.png);
  line-height: 100px / 10;
}

.mt0 {
  margin-top: 0px;
}

.mt5 {
  margin-top: 5px;
}

.text {
  content: "CSS and Sass";
}

.goto .kensuke .goto p {
  font-size: 5px;
}

/*
12.
*/
.icon-top {
  background: url("../img/top.png");
}

.icon-qa {
  background: url("../img/qa.png");
}

.icon-contact {
  background: url("../img/contact.png");
}
